body, h1, h2, p, ul, li, a {
    margin: 0; /* Removing the default Margin */
    padding: 0; /* Removing the default padding */
    font-family:Arial, Helvetica, sans-serif; /* setting the default font */
}

body {
    background-color: #09092c; /*  Dark blue background */
}

h1 {
    color:#948b0f; /* Yellow-Orange text color */
    font-size: 2.5em; /* 3x the default font size */
    margin-bottom: 1em; /* Adding some space below the heading */
}



a {
    display: inline-block; /* making the link a block element */
    color: #3498db; /* Bright blue text color */
    text-decoration: none; /* Removing the underline */
    padding: 5px 10px; /* Adding some space inside the link */
    border: 1px solid #3498db; /* Bright blue border color */
    transition: all 0.3s ease; /* Adding a transition */
}

/* Conditional styling for the hover state */
a:hover {
    background-color: #3498db; /* Bright blue background color */
    color: white; /* white text color */
}
