body, h1, h2, p, ul, li, a {
    margin: 0; /* Removing the default Margin */
    padding: 0; /* Removing the default padding */
    font-family:Arial, Helvetica, sans-serif; /* setting the default font */
}

body {
    background-color: #09092c; /*  Dark blue background */
}

h1 {
    color: darkorange; /* Yellow-Orange text color */
    font-size: 2.5em; /* 3x the default font size */
    margin-bottom: 1em; /* Adding some space below the heading */
}

h2 {
    font-size:1.5em; /* 1.5x the default font size */
    color: #5a970a; /* bright yellow-green text color */
}

p {
    color:#7f8c8d; /* Grayish blue */
    font-size: 16px; /* 16px is the default font size */
    margin-bottom: 12px; /* Adding some space below the paragraph */
}

a {
    display: inline-block; /* making the link a block element */
    color: #3498db; /* Bright blue text color */
    text-decoration: none; /* Removing the underline */
    padding: 5px 10px; /* Adding some space inside the link */
    border: 1px solid #3498db; /* Bright blue border color */
    transition: all 0.3s ease; /* Adding a transition */
}

/* Conditional styling for the hover state */
a:hover {
    background-color: #3498db; /* Bright blue background color */
    color: white; /* white text color */
}

main ul  {
    margin-bottom: 20px;
}
